/*Reg Fields
***********************/

.QuickRegistrationRow {
    margin: 1em 0;
}

input {
    background-color: #eaeaea;
    padding: 0.8em;
    margin: 0.4em 0;
    font-size: 16px;
    line-height: 16px;
    border: 0;
    color: #565a5c;
    vertical-align: middle;
    max-width: 250px;
    width: 100%;
    padding: 13px;
    border-radius: 4px;
}

div[labelcell="1"] {
    clear: both;
    display: block;
    margin: 1rem 0;
}

input:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

input[type="submit"] {
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    padding: 1em 0;
    margin: 40px auto;
    border: none;
    cursor: pointer;
}

input[name="EMailAddress"]{
	background-image: none !important;
}